
.product-detail {
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items:center;
}

canvas {
    height: 75%;
    width: 100%;
    margin-top: 200px;

    background-color: #c8cacc;
    margin: 0;
    padding: 0;
    border-radius:10px 0 10px 10px;
    position:relative;
    border: solid #528265;
}

canvas:hover {
    cursor:grab;
}

canvas:active {
    cursor:grabbing;
}

.shadow-canvas {
    height:100%;
    width:100%;
    box-shadow: 0 0 50px #00000050;
    border-radius:10px;
}

.item-summary {
    width: 50vw;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    font-weight:bold;
}

.item-background {
    background-color: #31c48d;
    padding: 70px;
    box-shadow: 0 0 10px #00000050;
    border-radius: 10px;
}

.product-buttons {
    display:flex;
    justify-content:space-between;
}

.product-buttons > button {
    width: 80px;;
    height: 30px;
    border-radius:5px;
    border:none;
    margin: 5px;
    cursor:pointer;
    background-color: #528265;
}

.product-buttons>button:hover {
    background-color: #c7efe0;
    color: #31c48d;
}

#qty-field {
    width: 50px;
    padding:2px;
}

.item-details {
    display:flex;
    flex-direction:column;
}

.details {
    margin:5px;
}

#qty-form {
    display:flex;
}

#qty-form > p {
    margin-left: 10px;
}

.increment-decrement{
    cursor:pointer;
}

@media only screen and (min-width: 800px) {

    .product-detail {
        display:flex;
        flex-direction:row;
    }

    .item-summary {
        position: absolute;
        z-index:5;
        margin-top: 100px;
        margin-left: 100px;
        width: 20vw;
    }

    canvas {
        position: relative;
        height: 100%;
    }


}

